etl/schema/top.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:include schemaLocation="etl/schema/clock_sketch_data.xsd"/>
  <xs:include schemaLocation="etl/schema/pen_data.xsd"/>

  <xs:element name="SymbolDigitSketchXMLFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ClockSketchData"/>
        <xs:element ref="PenData"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:decimal" use="required" />
      <xs:attribute name="appVersion" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

</xs:schema>